version: '{branch}.{build}'

pull_requests:
  do_not_increment_build_number: true

branches:
  only:
  - master

environment:
  matrix:
  - JAVA_HOME: C:\Program Files\Java\jdk1.8.0

build_script:
- cmd: .\gradlew.bat assemble

test_script:
- cmd: .\gradlew.bat check
